@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family:"chianti-bt";
    src: url("https://gms-44a3.s3.ap-south-1.amazonaws.com/tt1212m_.ttf") format("truetype");
}

@font-face{
    font-family:"Bahnschrift Regular";
    src: url("/bs-r.ttf") format("truetype");
}

:root {
    --header-height-desktop: 80px;
    --header-height-mobile: 70px;
}

.page-content {
    padding-top: var(--header-height-desktop);
}

@media (max-width: 1024px) {
    .page-content {
        padding-top: var(--header-height-mobile);
    }
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
}

@media (min-width: 320px) and (max-width: 435px) {
  * {
    max-width: 100%;
  }
}