@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face{
    font-family:"chianti-bt";
    src: url("https://gms-44a3.s3.ap-south-1.amazonaws.com/tt1212m_.ttf") format("truetype");
}
@font-face{
    font-family:"Bahnschrift Regular";
    src: url("/bs-r.ttf") format("truetype");
} */

:root {
  --header-height-desktop: 80px;
  --header-height-mobile: 70px;

  --bg: #2d6aaf;
  --baseline: rgba(255, 255, 255, 0.35);
  --white: #ffffff;
  --accent: #fadb61;
  --card-bg: #f7faff;
  --text-dark: #1a1a1a;

  --outer-pad: clamp(16px, 4vw, 40px);
  --timeline-pad: 0px;
  --scroller-pad: 28px;
  --year-row: clamp(70px, 10vw, 100px);
  --marker-row: 100px;
  --line-h: 6px;
  --gap-x: clamp(32px, 7vw, 120px);
}

.page-content {
  padding-top: var(--header-height-desktop);
}

@media (max-width: 1024px) {
  .page-content {
    padding-top: var(--header-height-mobile);
    font-family: "Instrument Sans", sans-serif;
  }
}
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  max-width: 100%;
  font-family: "Instrument Sans", sans-serif;
}

@media (min-width: 320px) and (max-width: 435px) {
  * {
    max-width: 100%;
  }
}
