.aboutus-youtube-section {
  width: 100%;
  padding: 40px 80px 60px 80px;
  h2 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    line-height: 130%;
    margin: 0px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #1c1c1c;
    text-decoration: underline;
    text-underline-offset: 6px;
  }
  .aboutus-left-right-content-part {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 12px;
    .aboutus-left-content-part {
      p {
        font-weight: 400;
        font-style: Regular;
        font-size: 18px;
        line-height: 152%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #403f3f;
        margin: 0px;
        width: 95%;
      }
    }
    .aboutus-right-content-part {
      .video-wrapper {
        width: 481px;
        height: 344px;
        position: relative;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .aboutus-youtube-section {
    padding: 40px 40px;

    h2 {
      font-size: 32px;
    }

    .aboutus-left-right-content-part {
      gap: 30px;

      .aboutus-left-content-part p {
        font-size: 17px;
        width: 100%;
      }

      .aboutus-right-content-part .video-wrapper {
        width: 400px;
        height: 280px;
      }
    }
  }
}

@media (max-width: 820px) {
  .aboutus-youtube-section {
    padding: 30px 20px;

    h2 {
      font-size: 26px;
      text-align: start;
    }

    .aboutus-left-right-content-part {
      flex-direction: column; /* stack text and video */
      align-items: flex-start;
      gap: 20px;

      .aboutus-left-content-part {
        width: 100%;

        p {
          font-size: 16px;
          width: 100%;
          text-align: justify;
        }
      }

      .aboutus-right-content-part {
        width: 100%;

        .video-wrapper {
          width: 100%;
          height: 400px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .aboutus-youtube-section {
    padding: 24px 16px;

    h2 {
      font-size: 22px;
    }

    .aboutus-left-right-content-part {
      gap: 16px;

      .aboutus-left-content-part p {
        font-size: 15px;
      }

      .aboutus-right-content-part .video-wrapper {
        height: 220px;
      }
    }
  }
}
