.all-category-product-section {
  width: 100%;
  padding: 30px 80px 60px 80px;
  .category-text-and-cards {
    h2,
    p {
      margin: 0px;
    }
    h2 {
      font-family: Instrument Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 38px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #3b5ba6;
      span {
        font-weight: 500;
        font-style: Medium;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #403f3f;
        padding-left: 8px;
      }
    }
    p {
      font-family: Instrument Sans;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #626a6d;
      margin-top: 18px;
    }
    .category-main-cards-sections {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      place-items: center;
      justify-self: center;
      gap: 55px;
      margin-top: 30px;
      @media (max-width: 1380px) {
        gap: 40px;
      }
      a {
        text-decoration: none;
      }
      .product-card {
        width: 295px;
        height: 458px;
        border-radius: 4px;
        box-shadow: 0px 4px 8px 0px #5c5b5b29;
        padding: 15px;
        cursor: pointer;
        .product-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 154px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h5,
        p {
          margin: 0;
        }
        h5 {
          font-family: Instrument Sans;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          min-height: 55px;
          color: #000000;
          margin-top: 18px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        p {
          font-family: Instrument Sans;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #1c1c1c;
          margin-top: 15px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          min-height: 60px;
        }
        button {
          width: 100%;
          height: 40px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          font-family: Instrument Sans;
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          img {
            display: none;
          }
        }
        .view-product-btn {
          background: #3b5ba6;
          color: #ffffff;
          margin-top: 25px;
          &:hover {
            box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
            background: linear-gradient(90deg, #9c1efe 0%, #79b4ff 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            border: none;
            img {
              display: flex;
            }
          }
        }
        .add-cart-btn {
          border: 1px solid #3b5ba6;
          color: #3b5ba6;
          background-color: transparent;
          margin-top: 15px;
          &:hover {
            background: linear-gradient(92.16deg, #9f16ff 0.21%, #77baff 100%);
            border: none;
            color: #ffffff;
            img {
              display: flex;
            }
          }
        }
        &:hover {
          transform: scale(1.05);
          box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
@media (max-width: 1380px) {
  .all-category-product-section {
    padding: 30px 20px 60px 20px;
  }
}
@media (max-width: 1280px) {
  .all-category-product-section {
    .category-text-and-cards {
      .category-main-cards-sections {
        grid-template-columns: repeat(3, 2fr);
        gap: 40px;
      }
    }
  }
}
@media (max-width: 938px) {
  .all-category-product-section {
    .category-text-and-cards {
      .category-main-cards-sections {
        grid-template-columns: repeat(2, 2fr);
        gap: 40px;
      }
    }
  }
}
@media (max-width: 768px) {
  .all-category-product-section {
    padding: 25px 15px 40px 15px;
    .category-text-and-cards {
      h2 {
        font-size: 24px;
        span {
          font-size: 16px;
          padding-left: 6px;
        }
      }
      p {
        font-size: 14px;
      }
      .category-main-cards-sections {
        grid-template-columns: repeat(2, 2fr);
        gap: 20px 15px;
        .product-card {
          width: 180px;
          height: 293px;
          padding: 10px;
          @media (max-width: 435px) {
            width: 100%;
          }
          .product-image {
            height: 121px;
          }
          h5 {
            font-size: 12px;
            margin-top: 8px;
            min-height: 38px;
          }
          p {
            font-size: 10px;
            line-height: 12px;
            margin-top: 8px;
            min-height: 25px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
          @media (max-width: 360px) {
            // height: 320px;
            h5 {
              min-height: 35px;
            }
          }
          button {
            height: 30px;
            font-size: 12px;
          }
          .view-product-btn {
            margin-top: 8px;
          }
          .add-cart-btn {
            margin-top: 6px;
          }
        }
      }
    }
  }
}
