.all-category-product-section {
  width: 100%;
  padding: 30px 80px 60px 80px;
  .category-text-and-cards {
    h2,
    p {
      margin: 0px;
    }
    h2 {
      font-family: Instrument Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 38px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #3b5ba6;
      span {
        font-weight: 500;
        font-style: Medium;
        font-size: 22px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #403f3f;
        padding-left: 8px;
      }
    }
    p {
      font-family: Instrument Sans;
      font-weight: 400;
      font-style: Regular;
      font-size: 18px;
      line-height: 100%;
      letter-spacing: 0%;
      vertical-align: middle;
      color: #626a6d;
      margin-top: 18px;
    }
    .category-main-cards-sections {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      justify-self: center;
      place-items: center;
      gap: 55px;
      margin-top: 30px;
      a{
        text-decoration: none;
      }
      .product-card {
        width: 295px;
        height: 418px;
        border-radius: 4px;
        box-shadow: 0px 4px 8px 0px #5c5b5b29;
        padding: 15px;
        cursor: pointer;
        .product-image {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 154px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h5,
        p {
          margin: 0;
        }
        h5 {
          font-family: Instrument Sans;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 18px;
          line-height: 100%;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #000000;
          margin-top: 18px;
        }
        p {
          font-family: Instrument Sans;
          font-weight: 400;
          font-style: Regular;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: 0%;
          vertical-align: middle;
          color: #1c1c1c;
          margin-top: 15px;
        }
        button {
          width: 100%;
          height: 40px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border: none;
          font-family: Instrument Sans;
          font-weight: 500;
          font-style: Medium;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
        }
        .view-product-btn {
          background: #3b5ba6;
          color: #ffffff;
          margin-top: 25px;
        }
        .add-cart-btn {
          border: 1px solid #3b5ba6;
          color: #3b5ba6;
          background-color: transparent;
          margin-top: 15px;
        }
      }
    }
  }
}
