.donutMain {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  padding: 60px 80px;
  flex-wrap: wrap;
  background: #fff;
}

/* Donut Left Section */
.donutLeft {
  position: relative;
  width: 550px;
  height: 550px;

  @media (max-width: 1024px) {
    width: 400px;
    height: 400px;
  }
  @media (max-width: 600px) {
    width: 320px;
    height: 320px;
  }

  .donutSvg {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }

  .iconSet {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .iconItem {
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
    }

    &.active {
      transform: translate(-50%, -50%) scale(1.2);
      filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.2));
    }
  }

  .iconLabel{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
  }
}

/* Right Cards Section */
.donutRight {
  flex: 1;
  max-width: 100%;

  .cardsGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }

    .card {
      background: #FCFCFC;
      font-family: "Instrument Sans", sans-serif;
      border-radius: 12px;
      box-shadow: 0px 10px 15px 0px #00000008;
      padding: 24px 28px;
      cursor: pointer;
      transition: all 0.3s ease;

      &.activeCard {
        background: #eef2ff;
        border: 1px solid #3a57e8
      }

      .cardHeader {
        display: flex;
        align-items: center;
        gap: 14px;

        img {
          width: 50px;
          height: 50px;
        }

        h4 {
          margin: 0;
          font-size: 18px;
          font-weight: 700;
          color: #14142B;
        }
      }

      p {
        font-size: 15px;
        line-height: 22px;
        color: #14142B;
        margin-top: 10px;
      }
    }
  }
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .donutMain {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .iconLabel{
    display: none;
  }
}

@media (max-width: 480px) {
  .donutMain {
    padding: 30px 20px;
  }
}
