.experts-content {
  width: 100%;
  background-image: url("../public/images/expertimage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 0px;
  h2 {
    font-family: Instrument Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #fcfcfc;
    margin: 0;
    width: 70%;
  }
  @media (max-width: 1024px) {
    h2 {
      width: 90%;
      font-size: 24px;
    }
  }
  button {
    height: 44px;
    opacity: 1;
    border-radius: 6px;
    padding: 20px;
    background: #ffffff;
    font-family: Instrument Sans;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 13px;
    letter-spacing: 0%;
    color: #3b5ba6;
    border: none;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .experts-content {
    background-image: url("../public/images/homebannerres.png");
    padding: 60px 20px;
    h2 {
      font-size: 20px;
      width: 100%;
      line-height: 26px;
    }
    @media (max-width: 345px) {
      h2 {
        font-size: 18px;
      }
    }
    button {
      height: 42px;
      margin-top: 40px;
    }
  }
}
