.footer-all-content-box {
  width: 100%;
  .enquire-fixed-button {
    position: fixed;
    bottom: 60px;
    right: 0px;
    z-index: 2000;
    button {
      box-shadow: 0px 0px 7.6px 0px #00000040 inset, 0px 4px 8px 0px #0000001f;
      background: #3b5ba6;
      width: 150px;
      height: 44px;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      font-family: Instrument Sans;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      line-height: 13px;
      letter-spacing: 0%;
      color: #ffffff;
      border: none;
      cursor: pointer;
      svg {
        transition: transform 0.3s ease;
      }
      &:hover {
        background-image: linear-gradient(90deg, #a100ffff 0%, #71c4ffff 100%);
        color: #ffffff;
        svg {
          transform: translateX(5px);
        }
      }
    }
  }
  .enquire-popup-overlay {
    position: fixed;
    bottom: 110px;
    right: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: end;
    z-index: 2000;
    .enquire-popup-content {
      background: #ffffff;
      box-shadow: 0px 0px 12px 0px #0000001c;
      border: 1px solid #eff0f7;
      padding: 20px;
      width: 420px;
      max-height: 460px;
      position: relative;
      overflow-y: auto;
      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
      .enquire-close-btn {
        position: absolute;
        top: 0px;
        right: 18px;
        background: transparent;
        border: none;
        font-size: 22px;
        cursor: pointer;
        color: #3b5ba6;
      }
      .footer-inputs-form {
        margin-top: 20px;
        .footer-both-inputs {
          width: 100%;
          .input-error {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-bottom: 20px;
            input {
              width: 100%;
              height: 41px;
              border-radius: 4px;
              padding: 12px;
              background: #5c5b5b33;
              outline: none;
              border: none;
              font-family: Instrument Sans;
              font-weight: 400;
              font-size: 14px;
              line-height: 100%;
              letter-spacing: 0%;
              color: #403f3f;
            }
          }
          textarea {
            width: 100%;
            border-radius: 4px;
            padding: 12px;
            background: #5c5b5b33;
            outline: none;
            border: none;
            font-family: Instrument Sans;
            font-weight: 400;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #403f3f;
          }
          .error-message {
            color: rgb(255, 0, 0);
            font-size: 12px;
            margin-top: 4px;
          }
        }
        button {
          display: flex;
          gap: 10px;
          align-items: center;
          height: 44px;
          padding: 14px 22px;
          border-radius: 8px;
          background: #3b5ba6;
          font-family: Instrument Sans;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          text-align: center;
          color: #ffffff;
          border: none;
          margin-top: 0px;
          cursor: pointer;
          transition: all 0.3s ease;
          svg {
            transition: transform 0.3s ease;
          }
          &:hover {
            background-image: linear-gradient(
              90deg,
              #a100ffff 0%,
              #71c4ffff 100%
            );
            color: #ffffff;
            svg {
              transform: translateX(5px);
            }
            svg path {
              fill: #ffffff;
            }
          }
        }
        .captcha-wrapper {
          margin-bottom: 16px;
        }
        .success-message {
          margin: 12px 0;
          padding: 12px;
          border-radius: 8px;
          background: #d1fae5;
          color: #065f46;
          font-family: Instrument Sans;
          font-size: 14px;
          line-height: 150%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer-all-content-box {
    .enquire-fixed-button {
      button {
        width: 140px;
      }
    }
    .enquire-popup-overlay {
      .enquire-popup-content {
        padding: 15px;
       @media (max-width:576px) {
         width: 90%;
       }
        .enquire-close-btn {
          right: 12px;
          font-size: 18px;
        }
        .footer-inputs-form {
          .footer-both-inputs {
            .input-error {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}
