.footer-links-content-box {
  background: #0d0c25;
  padding: 50px 80px 20px 80px;
  @media (max-width: 1460px) {
    padding: 50px 20px 20px 20px;
  }
  .footer-links-left-right-content {
    display: flex;
    gap: 70px;
    border-bottom: 1px solid #6f6e6e4d;
    padding-bottom: 25px;
    .footer-left-content {
      width: 30%;
      .footer-logo {
        width: 225px;
        height: 112px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      p {
        font-family: Instrument Sans;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        color: #b9b8b8;
        margin-top: 20px;
        &:hover {
          color: #3b5ba6;
        }
      }
    }
    .footer-links-right-content {
      width: 70%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      gap: 90px;
      .footer-details-with-list {
        h5 {
          font-family: Instrument Sans;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 2%;
          margin: 0;
          color: #fcfcfc;
          white-space: nowrap;
          &:hover {
            color: #3b5ba6;
          }
        }
        .details-list {
          margin-top: 30px;
          a {
            text-decoration: none;
          }
          .icon-title {
            display: flex;
            gap: 15px;
            p {
              font-family: Instrument Sans;
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              letter-spacing: 2%;
              margin: 0;
              color: #bdbbbb;
              width: 100%;
              &:hover {
                color: #3b5ba6;
              }
            }
          }
        }
        .tooltip {
          background: #3b5ba6;
          color: #fff;
          padding: 4px 10px;
          font-size: 12px;
          border-radius: 6px;
          position: absolute;
          top: -10px;
          right: 100px;
          animation: fadeInOut 1.4s ease;
          opacity: 0;
        }
        @keyframes fadeInOut {
          0% {
            opacity: 0;
            transform: translateY(5px);
          }
          20% {
            opacity: 1;
            transform: translateY(0);
          }
          80% {
            opacity: 1;
          }
          100% {
            opacity: 0;
            transform: translateY(5px);
          }
        }

        .details-list {
          position: relative;
        }
      }
    }
  }
  .footer-copyright-left-right {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
      font-family: Instrument Sans;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0%;
      color: #9c9b9b;
      margin: 0;
      &:hover {
        color: #3b5ba6;
      }
    }
    .footer-copyright-right {
      display: flex;
      gap: 20px;
      svg {
        cursor: pointer;
      }
    }
  }
}
@media (max-width: 1280px) {
  .footer-links-content-box {
    .footer-links-left-right-content {
      flex-direction: column;
      gap: 40px;
      .footer-left-content {
        width: 100%;
      }
      .footer-links-right-content {
        width: 100%;
        gap: 150px;
      }
    }
  }
}
@media (max-width: 938px) {
  .footer-links-content-box {
    padding: 30px 20px 20px 20px;
    .footer-links-left-right-content {
      display: flex;
      flex-direction: column;
      .footer-left-content {
        width: 100%;
      }
      .footer-links-right-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        gap: 90px;
        @media (max-width: 900px) {
          gap: 60px;
        }
      }
    }
    .footer-copyright-left-right {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      p {
        font-family: Instrument Sans;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #919191;
        margin: 0;
      }
      .footer-copyright-right {
        display: flex;
        gap: 20px;
      }
    }
  }
}
@media (max-width: 768px) {
  .footer-links-content-box {
    padding: 20px 15px 20px 15px;
    .footer-links-left-right-content {
      display: flex;
      flex-direction: column;
      gap: 0px;
      padding-bottom: 25px;
      .footer-left-content {
        width: 100%;
        p {
          line-height: 24px;
        }
      }
      .footer-links-right-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 45px;
        .footer-details-with-list {
          .details-list {
            margin-top: 18px;
            a {
              text-decoration: none;
            }
            .icon-title {
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
    .footer-copyright-left-right {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .footer-copyright-left {
        order: 2;
        p {
          margin-top: 10px;
          text-align: center;
        }
      }
      .footer-copyright-right {
        order: 1;
      }
    }
  }
}
