.india-first-exclusive-section {
  margin-top: 10px;
  background-image: url("../public/images/indianexclusivebg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
  .india-first-exclusive-content {
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 35px;
    h2,
    h4,
    p {
      margin: 0;
      color: #ffffff;
    }
    h2 {
      font-weight: 700;
      font-style: Bold;
      font-size: 50px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: capitalize;
    }
    h4 {
      font-weight: 500;
      font-style: Medium;
      font-size: 38px;
      line-height: 100%;
      letter-spacing: 0%;
      text-transform: capitalize;
    }
    p {
      font-weight: 500;
      font-style: Medium;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0%;
      width: 90%;
    }
    button {
      width: 300px;
      height: 44px;
      border-radius: 6px;
      background: #ffffff;
      font-weight: 500;
      font-style: Medium;
      font-size: 16px;
      letter-spacing: 0%;
      text-align: center;
      color: #3b5ba6;
      border: none;
      cursor: pointer;
      margin-top: 20px;
    }
  }
}
.getin-touch-section {
  background-image: url("../public/images/testimonialbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .getin-touch-left-right-part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 30px 80px;
    .getin-touch-left-part {
      h2 {
        font-weight: 600;
        font-style: SemiBold;
        font-size: 38px;
        line-height: 54px;
        letter-spacing: 0%;
        color: #1c1c1c;
        text-align: center;
      }
      .details-and-button {
        background: #ffffff;
        width: 865px;
        height: auto;
        padding: 20px 40px;
        margin-top: 20px;
        p {
          font-weight: 600;
          font-style: SemiBold;
          font-size: 16px;
          line-height: 30px;
          letter-spacing: 0%;
          color: #14142b;
          margin: 0;
          margin-top: 10px;
        }
        button {
          width: 137px;
          height: 44px;
          border-radius: 8px;
          background: #3b5ba6;
          font-weight: 600;
          font-style: SemiBold;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 0%;
          color: #ffffff;
          border: none;
          cursor: pointer;
          margin-top: 20px;
        }
      }
    }
    .getin-touch-right-part{
        .experts-image{
            width: 400px;
            height: 500px;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
  }
}
@media (max-width:1280px) {
.india-first-exclusive-section {
  height: auto;
  .india-first-exclusive-content {
    padding: 80px 20px;
    h2 {
      font-size: 42px;
    }
    h4 {
      font-size: 26px;
    }
    p {
      font-size: 20px;
      line-height: 28px;
      width: 95%;
    }
  }
}
.getin-touch-section {
  .getin-touch-left-right-part {
    gap: 40px;
    padding: 30px 20px;
    .getin-touch-left-part {
      h2 {
        font-size: 32px;
      }
      .details-and-button {
        width: 765px;
        padding: 20px;
      }
    }
    .getin-touch-right-part{
        .experts-image{
            width: 350px;
            height: 450px;
        }
    }
  }
}
}
@media (max-width:1180px) {
.getin-touch-section {
  .getin-touch-left-right-part {
    gap: 30px;
    .getin-touch-left-part {
      .details-and-button {
        width: 565px;
        padding: 20px;
      }
    }
  }
}
}
@media (max-width:1000px) {
.getin-touch-section {
  .getin-touch-left-right-part {
    flex-direction: column;
    gap: 30px;
    .getin-touch-left-part {
      .details-and-button {
        width: 100%;
      }
    }
  }
}
}
@media (max-width:768px) {
.india-first-exclusive-section {
  height: auto;
  .india-first-exclusive-content {
    padding: 40px 20px;
    gap: 30px;
    h2 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
      line-height: 22px;
      width: 100%;
    }
    button {
      width: 217px;
      margin-top: 0px;
    }
  }
}
.getin-touch-section {
  .getin-touch-left-right-part {
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
    .getin-touch-left-part {
      h2 {
        font-size: 20px;
        line-height: 24px;
      }
      .details-and-button {
        width: 100%;
        padding: 20px;
        p {
          font-size: 14px;
          line-height:22px;
        }
      }
    }
    .getin-touch-right-part{
        .experts-image{
            width: 354px;
            height: 400px;
        }
    }
  }
} 
}