.our-mission-vision-section {
  width: 100%;
  padding: 0px 80px 40px 80px;
  .our-mission-vision-text-card {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    h2 {
      margin: 0px;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 42px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #1c1c1c;
      width: 18%;
    }
    .mission-card,
    .vision-card {
      width: 662px;
      height: 198px;
      background-image: url("../public/images/missionbgimage.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      gap: 30px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      padding: 0px 30px 0px 0px;
      .mission-card-image {
        width: 198px;
        height: 198px;
        overflow: hidden;
        border-radius: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .mission-card-text {
        h6,
        p {
          margin: 0;
        }
        h6 {
          font-weight: 600;
          font-style: SemiBold;
          font-size: 22px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #ffffff;
        }
        p {
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 2%;
          color: #c5c5c5;
          margin-top: 10px;
        }
      }
    }
    .vision-card {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      background-image: url("../public/images/visionbgimage.png");
      padding: 0px 0px 0px 30px;
    }
  }
}
