.our-mission-vision-section {
  width: 100%;
  padding: 0px 80px 40px 80px;
  .our-mission-vision-text-card {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    h2 {
      margin: 0px;
      font-weight: 600;
      font-style: SemiBold;
      font-size: 42px;
      line-height: 130%;
      letter-spacing: 0%;
      color: #1c1c1c;
      width: 18%;
    }
    .mission-card,
    .vision-card {
      width: 662px;
      height: 198px;
      background-image: url("../public/images/missionbgimage.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: center;
      gap: 30px;
      border-top-left-radius: 100px;
      border-bottom-left-radius: 100px;
      padding: 0px 30px 0px 0px;
      .mission-card-image {
        width: 198px;
        height: 198px;
        overflow: hidden;
        border-radius: 50px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .mission-card-text {
        h6,
        p {
          margin: 0;
        }
        h6 {
          font-weight: 600;
          font-style: SemiBold;
          font-size: 22px;
          line-height: 130%;
          letter-spacing: 0%;
          color: #ffffff;
        }
        p {
          font-weight: 400;
          font-style: Regular;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: 2%;
          color: #c5c5c5;
          margin-top: 10px;
        }
      }
    }
    .vision-card {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 100px;
      border-bottom-right-radius: 100px;
      background-image: url("../public/images/visionbgimage.png");
      padding: 0px 0px 0px 30px;
    }
  }
}

@media (max-width: 1200px) {
  .our-mission-vision-section {
    padding: 0px 60px 40px 60px;

    .our-mission-vision-text-card {
      h2 {
        font-size: 38px;
        width: 22%;
      }

      .mission-card,
      .vision-card {
        width: 580px;
        gap: 20px;
        .mission-card-text {
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .our-mission-vision-section {
    padding: 0px 40px 40px 40px;

    .our-mission-vision-text-card {
      flex-direction: column;
      align-items: center;

      h2 {
        width: 100%;
        text-align: center;
        margin-bottom: 25px;
        font-size: 34px;
      }

      .mission-card,
      .vision-card {
        width: 100%;
        height: auto;
        justify-content: center;
        gap: 25px;
        // padding: 20px;
        .mission-card-image {
          width: 160px;
          height: 160px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .our-mission-vision-section {
    padding: 0px 20px 40px 20px;

    .our-mission-vision-text-card {
      margin-top: 30px;

      h2 {
        font-size: 28px;
      }

      .mission-card,
      .vision-card {
        width: 100%;
        // flex-direction: column;
        align-items: center;
        text-align: start;
        // gap: 15px;
        height: auto;

        .mission-card-image {
          width: 130px;
          height: 130px;
        }

        .mission-card-text {
          h6 {
            font-size: 18px;
          }
          p {
            font-size: 14px;
            line-height: 130%;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .our-mission-vision-section {
    padding: 20px 0px;

    .our-mission-vision-text-card {
      h2 {
        font-size: 24px;
      }
      .mission-card {
        margin-left: 20px;
      }
      .vision-card {
        margin-right: 20px;
      }

      .mission-card,
      .vision-card {
        gap: 12px;
        height: auto;

        .mission-card-image {
          width: 150px;
          height: 150px;
        }

        .mission-card-text {
          text-align: start;
          width: 100%;
          h6 {
            font-size: 14px;
            padding-top: 5px;
          }
          p {
            font-size: 12px;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .mission-card-text {
    h6 {
      font-size: 12px;
    }
    p {
      font-size: 10px;
    }
  }
}
