.partnership-section-content {
  padding: 40px 80px 60px 80px;
  max-width: none !important;
  width: 100%;
  h2 {
    font-family: Instrument Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    color: #1c1c1c;
  }
  .partnership-company-logo-cards {
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
    .scroll-container {
      display: flex;
    }
    .scroll-content {
      display: flex;
      animation: scroll-left 40s linear infinite;
      gap: 15px;
    }
    .reverse {
      animation: scroll-right 40s linear infinite;
      gap: 15px;
    }
    .company-card {
      flex: 0 0 auto;
      width: 208px;
      height: 115px;
      opacity: 1;
      border-radius: 4px;
      border: 1px solid #c5c5c5;
      box-shadow: 0px 2px 4px 0px #00000014;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      .main-image-box {
        width: 138px;
        height: 105px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .partnership-section-content {
    width: 100%;
    padding: 50px 20px 50px 20px;
    h2 {
      font-size: 28px;
    }
    .partnership-company-logo-cards {
      margin-top: 30px;
      .company-card {
        width: 275px;
        height: 150px;
        opacity: 1;
        border-radius: 4px;
        border: 1px solid #c5c5c5;
        box-shadow: 0px 2px 4px 0px #00000014;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          transition: transform 0.3s ease;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .partnership-section-content {
    width: 100%;
    padding: 40px 15px 40px 15px;
    h2 {
      font-size: 28px;
      line-height: 100%;
      text-align: center;
      padding-right: 0px;
    }
    .partnership-company-logo-cards {
      padding-bottom: 0px;
      .company-card {
        width: 184px;
        height: 100px;
        overflow: hidden;
        padding: 0px 10px;
        .main-image-box {
          width: 158px;
          height: 90px;
        }
      }
    }
  }
}
@media (max-width: 435px) {
  .partnership-section-content {
    width: 100%;
    padding: 40px 15px 40px 15px;
    h2 {
      @media (max-width: 360px) {
        font-size: 24px;
      }
    }
    .partnership-company-logo-cards {
      padding-bottom: 0px;
      margin-top: 20px;
      .scroll-content {
        // animation: scroll-left 10s linear infinite;
        gap: 10px;
      }
      .reverse {
        // animation: scroll-right 10s linear infinite;
        gap: 10px;
      }
      .company-card {
        width: 184px;
        height: 100px;
        overflow: hidden;
        padding: 0px 10px;
        .main-image-box {
          width: 158px;
          height: 90px;
        }
      }
    }
  }
}
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}
@media (min-width: 320px) and (max-width: 435px) {
  .partnership-section-content,
  .partnership-section-content * {
    max-width: none !important;
  }
}
