.partnership-section-content {
  width: 100%;
  padding: 50px 80px;
  h2 {
    font-family: Instrument Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 38px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
    color: #1c1c1c;
  }
  .partnership-company-logo-cards {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 40px 20px;
    margin-top: 30px;
    place-items: center;
    .company-card {
      width: 275px;
      height: 150px;
      opacity: 1;
      border-radius: 4px;
      border: 1px solid #c5c5c5;
      box-shadow: 0px 2px 4px 0px #00000014;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}
