.related-all-products-section {
  width: 100%;
  padding: 20px 80px;
  @media (max-width:1380px) {
    padding: 0px 20px 20px 20px;
  }
  h2 {
    font-family: Instrument Sans;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 34px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #353434;
    margin: 0px;
  }
  @media (max-width:1280px) {
    h2{
      font-size: 28px;
    }
  }
  .related-product-cards {
    margin-top: 30px;
    .related-card{
      width: 295px;
      height: 418px;
      border-radius: 4px;
      box-shadow: 0px 4px 8px 0px #5c5b5b29;
      padding: 15px;
      cursor: pointer;
      .product-image {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 154px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      h5,
      p {
        margin: 0;
      }
      h5 {
        font-family: Instrument Sans;
        font-weight: 600;
        font-style: SemiBold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #000000;
        margin-top: 18px;
      }
      p {
        font-family: Instrument Sans;
        font-weight: 400;
        font-style: Regular;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0%;
        vertical-align: middle;
        color: #1c1c1c;
        margin-top: 15px;
      }
      button {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
        font-family: Instrument Sans;
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
      }
      .view-product-btn {
        background: #3b5ba6;
        color: #ffffff;
        margin-top: 25px;
      }
      .add-cart-btn {
        border: 1px solid #3b5ba6;
        color: #3b5ba6;
        background-color: transparent;
        margin-top: 15px;
      }
        &:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.2);
  }
    }
  }
}
@media (max-width:768px) {
.related-all-products-section {
  h2 {
    font-size: 20px;
  }
  .related-product-cards {
    margin-top: 30px;
    .related-card{
      width: 235px;
      height: 318px;
      padding: 12px;
      cursor: pointer;
      .product-image {
        height: 121px;
      }
      h5 {
        font-size: 12px;
        margin-top: 10px;
        min-height: 25px;
      }
      p {
        font-size: 10px;
        line-height: 18px;
        margin-top: 10px;
        min-height: 25px;
      }
      button {
        height: 30px;
        font-size: 12px;
      }
      .view-product-btn {
        margin-top: 20px;
      }
      .add-cart-btn {
        margin-top: 10px;
      }
    }
  }
}
}